body{
margin-bottom:80px;

}

.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:250px;
  height:250px;
  box-shadow: 1px 1px 1px 
  
}
h4{
 text-align:center;
 margin:0;
 padding:0;
 
}
h5{
}
.call{
   margin:0;
   padding: 0;
   list-style-type:square ;
   position: relative;
   
}